<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/menu.css")">
        <title></title>
    </head>
    <body>
        <div class="navDiv">
            <ul id="drop-nav">
                <li class="topLvl"><a href="#">Home</a></li>
                <li class="topLvl"><a href="#">LoL</a>
                    <ul class="fill">
                        <li class="fill"><a class="lolanc" href="#">Server Status</a></li>
                        <li class="fill"><a class="lolanc" href="#">Summoner Lookup</a></li>
                        <li class="fill"><a class="lolanc" href="#">Build-a-Build</a></li>
                    </ul>
                </li>
                <li class="topLvl"><a href="#">Diablo</a>
                    <ul class="fill">
                        <li class="fill"><a class="diaanc" href="#">Diablo Career</a></li>
                        <li class="fill"><a class="diaanc" href="#">Diablo Follower</a></li>
                        <li class="fill"><a class="diaanc" href="#">Diablo Item</a></li>
                    </ul>
                </li>
                <li class="topLvl"><a href="/">WoW</a>
                    <ul class="fill">
                        <li class="fill"><a class="wowanc" href="/WoWServer">Server Status</a></li>
                        <li class="fill"><a class="wowanc" href="/WoWCharacter">Character Info</a></li>
                        <li class="fill"><a class="wowanc" href="/WoWClass">Class Info</a></li>
                        <li class="fill"><a class="wowanc" href="/WoWItem">Build-a-Build</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div style="padding-top: 10px;">

        </div>
    </body>
</html>