<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h2>
      Welcome To GameShark!
  </h2>
  <div>
    <h1>User Links</h1>
    <ul>
      <li>
        <a href="/WoWCharacter">
	    WoW Char Serv
        </a>
      </li>
      <li>
        <a href="/WoWServer">
	    WoW Serv Serv
        </a>
      </li>
      <li>
        <a href="/WoWClass">
	    WoW Class Serv
        </a>
      </li>
      <li>
        <a href="/WoWItem">
	    WoW Item Set Builder
        </a>
      </li>
    </ul>
  </div>

</body>
</html>